/*
 * Mopidy Webclient CSS
 * (c) Wouter van Wijk 2012-2017
 */

/****************************
 *  Responsive stuff
 *  * iphone 3 20em
 *    landscape 30
 * iphone 4 40em
 *    landscape 60
 * ipad landsc 64
 *    portr 48
 ****************************/
@media (max-width:480px) {
   .songname {
      font-size: 10pt !important;
   }
  .songtext span {
    max-width: 150px;
   }

  .songtext {
    max-width: 150px;
   }

  .songtext-nodesc {
    font-size: 10pt !important;
    max-width: 150px;
   }
  .songinfo {
     max-width: 250px;
  }

}
@media all and (min-width: 961px) {

    /*playlists*/
    .pl-breakpoint.ui-grid-a .ui-block-a {
        width: 32.95%;
    }

    .pl-breakpoint.ui-grid-a .ui-block-b {
        width: 65.4%;
    }

    .pl-breakpoint.ui-grid-a .ui-block-a {
        clear: left;
    }

    .pl-breakpoint.ui-grid-a .ui-block-a {
        clear: left;
    }

    #playlisttracksdiv {
        margin-left: 10px;
    }

    .backnav-optional {
        display: none;
    }

    #playlisttracksdiv {
        display: block;
    }

    #playlistslistdiv {
        display: block;
        margin-top: 1px;
    }

    /*search*/
    .srch-breakpoint.ui-grid-a .ui-block-b {
        margin-left: .5em;
    }

    .srch-breakpoint.ui-grid-a .ui-block-a,
    .srch-breakpoint.ui-grid-a .ui-block-b {
        width: 49%;
    }
}

/* phone landscape */
@media all and (max-width: 960px) {

    /*playlists*/
    .pl-breakpoint .ui-block-a,
    .pl-breakpoint .ui-block-b {
        width: 100%;
  }

    /*search*/
    .srch-breakpoint.ui-grid-a .ui-block-a,
    .srch-breakpoint.ui-grid-a .ui-block-b {
        width: 100%;
    }

    .backnav-optional {
        display: block;
    }

    #playlisttracksdiv {
        display: none;
    }

    #playlistslistdiv {
        display: block;
    }
}

/*****************************
 * Side Panel and Navigation *
 *****************************/
.mainNav .fa {
    float: right;
}

.mainNav .navtxt {
    float: left;
}

.mainNav .navtxt:after {
    clear: left;
}

#contentHeadline {
    min-width: 400px;

}
#contentHeadline a {
    color:white;
}

/**headers and controls**/
#headermenubtn {
    padding-top: 2px;
    margin-top: 1px;
    height: 28px;
}

#headersearchbtn  {
    padding-top: 2px;
    margin-top: 1px;
    height: 28px;
}

#headersearchbtn span {
    font-size: 13px;
    vertical-align: top;
    display: inline;
    line-height: 25px;
}

/******************
 *  Track Slider  *
 ******************/
#trackslider {
    display: inline;
    width: 100%;
}

.mainNav li div div div.ui-slider-track {
  background-color: var(--p-cl);
  margin-right: 10px;
  margin-left: 60px;
}

#slidercontainer {
/*    margin-bottom: 10px;
    margin-right: 10px;
*/    
    position: fixed;
    bottom: 70px;
    width: 96%;
    left: 2%;    
    min-width:200px;
}

#slidercontainer .ui-slider-track {
   border: 0px;
}

.ui-slider-track {
    margin-left: 50px;
    margin-right: 50px;
}

/* Increase slider handle by 30%. */
.ui-slider-track.ui-mini .ui-slider-handle {
    height: 20px;
    width: 22px;
    margin: -12px 0 0 -12px;
}

.ui-slider-input {
    display: none !important;
}

#btnext {
  margin-right: 5px;
}

/************************
 *  Volume Slider
 ***********************/

#mutebt {
    background-color: var(--p-cl);
    color: #121212;
    float: left;   
    margin-left: 3px;
    font-size: 120%;
    padding: 7px;
    width: 23px;
    height: 23px;
    border-radius: 5px;
    border: 2px var(--p-cl-dark);
    margin-top: -5px;
    line-height: 23px;
}

#mutebt.fa-volume-mute {
  background-color: var(--s-cl-light);
  color: #000000;
}
#mutebt:hover {
   background-color: var(--s-cl-light);
   color: #000000;
}

#volumeslider {
    display: inline;
}

div.hostInfo {
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.hostInfo {
    font-weight: normal;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
}

/********************
 *  Pages, content  *
 ********************/
#page {
    background-color: #121212;
    padding-bottom: 0 !important;
    padding-top: 50px !important;
    min-height: 92vh !important;
}

.ui-panel-content-wrap {
    min-height: initial !important;
}

#searchartists {
    display: none;
}

#searchalbums {
    display: none;
}

#searchtracks {
    display: none;
}

#currentpane,
#searchpane,
#albumspane,
#artistspane,
#streampane {
    display: none;
}

#artistviewimage,
#albumviewcover {
    float: right;
    height: 90px;
    max-width: 90%;
}

/*** home ***/
#homerows div {
    text-align: center;
    background-color: #1b1b1b;
    padding: 2px;
    padding-top: 20px;
    border: 2px solid #212121;
    color: white;
}
#homerows div:hover {
    background-color: #4f9a94;
}
#homerows div i {
    font-size: 28px;
}

.ui-block-a-min {
    float: left !important;
    width: initial !important;
}

.ui-block-b-min {
    float:right !important;
    width: initial !important;
}

/***************
 *  listviews  *
 ***************/
#playlisttracks li a {
    color: #efefef !important;
    font-size: 80% !important;
    display: block;
    padding: 2px;
    padding-left: 4px;
    margin-left: 35px;

}
#playlisttracks li a span {
    color: #bdbdbd !important;
}

#currenttable li a {
    color: #efefef !important;
    font-size: 90% !important;
    display: block;
    padding: 2px;
    padding-left: 4px;
    margin-left: 35px;

}

#browsetable li a {
    color: #efefef !important;
    font-size: 80% !important;
    display: block;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 35px;

}

#trackresulttable li a {
    color: #efefef !important;
    font-size: 80% !important;
    display: block;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 35px;

}

#albumstable li a {
    color: #efefef !important;
    font-size: 80% !important;
    display: block;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 35px;

}

#artiststable li a {
    color: #efefef !important;
    font-size: 80% !important;
    display: block;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: 35px;

}

.table li a {
    color: #efefef !important;
    font-size: 90% !important;
    display: block;
    padding: 2px;
    padding-right: 4px;
    padding-left: 4px;
    margin-bottom: 2px;
}
.table li {
    background-color: #212121;
    border-bottom: 0;
    padding: 0;
}

.table {
    padding: 0;
    list-style-type: none;
}

.table li:last-child {
}

.info-table {
    display: table !important;
}

.info-table thead {
    visibility: collapse;
}

.info-table th {
    border-bottom: none !important;
}

.info-table tr {
}

.info-table td {
    color: #333333 !important;
    padding: 2px;
    padding-right: 14px;
    padding-left: 14px;
    border: none !important;
    font-size: 11pt;
}

.info-table td.label {
    font-weight: bold;
}

.info-table td.label-center {
    vertical-align: middle;
}

.info-table input {
    color: #555;
    border: none;
    font-size: 1em;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border-color: var(--p-cl);
    font-size: 10pt;
}

.albumdivider h1, .table li h1 {
    font-family: "Arial Black", sans-serif;
    font-size: 2em;
    letter-spacing: -1px;
}

.albumdivider {
    background-color: #1b1b1b !important;
    font-family: "Arial Black", sans-serif;
    font-size: 1.5em;
    letter-spacing: -1px;
}
#h_albumname {
    font-family: "Arial Black", sans-serif;
    font-size: 1.5em;
    letter-spacing: -1px;
}
#h_albumartist {
    font-family: "Arial Black", sans-serif;
    font-size: 1.0em;
    letter-spacing: -1px;
}
.albumdivider p {
   font-size: 0.8em;
}
.albumname {
  margin-top:15px;
}

.smalldivider {
    font-size: 5%;
    height: 1px;
    background-color: #000000 !important;
    margin-bottom: 1px;
    visibility: hidden;
}

#playlistslist li a {
    padding: 7px;
}

#playlistslist li a span {
    margin-left: 10px;
    font-weight: bold;
}

#playlistslist, #playlisttracks {
    margin: 0 !important;
    padding: 0 !important;
}

.albumli {
    padding-left: 5px;
}

.playlistactive {
    background-color: var(--p-cl-dark);
}

.table li a.playlistactive {
    color: #121212 !important;
}

.artistcover {
    float: right;
    width: 100px;
    height: 100px;
    margin-right: 3px;
    margin-top: 3px;
}

.currenttrack2 {
    background-image: url('../images/icons/play_alt_16x16.png');
    background-repeat: no-repeat;
    background-position: 11px 51%;
}
li.currenttrack {
  background-color: #424242;
}
li.currenttrack2 {
  background-color: #424242;
}
.currenttrack {
    background-image: url('../images/icons/play_alt_16x16.png');
    background-repeat: no-repeat;
    background-color: #eee;
    background-position: 11px 50%;
}

.currenttrack2 a {
    margin-left: 15px;
}
.currenttrack a {
    margin-left: 20px;
}

.song .moreBtn {
    float: right;
    padding: 15px 18px 12px 22px;
    display: inline-block;
    line-height: 100%;
    position: relative;
    z-index: 10;
}

.moreBtn i {
    color: #ddd;
    font-size: 20px;
    margin-top: 80%;
    margin-right: 8px;
}

.infoBtn {
    top: 0;
    width: 90%;
    position: absolute;
}

.infoBtn i {
    font-size: 1.33em;
    color: #ddd;
    background: #424242;
    border-radius: 50%;
    height: 1em;
    width: 1em;
}

.backnav {
}

.refreshLibraryBtnDiv {
    display: none;
}


/**********************
 *  Now Playing area  *
 **********************/
#nowPlayingFooter {
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.footerControls {
    height: 100%;
    font-size: 25px;
    padding-right: 10px;
}

.footerControls div span {
    padding-left: 3px;
    padding-right: 3px;
    height: 100%;
    vertical-align: top;
}

.footerControls #btplayNowPlaying {
    font-size: 42px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
}

/************
 *  Popups  *
 ************/
#modalname a, #modaldetail a {
    color: #f5f5f5;
    background-color:#121212;
    text-decoration: none;
}

#modalinfo {
    position: relative;
    display: inline-block;
    padding-top: .5em;
    margin-top: 10px;
}

.popupArtistLi,
.popupAlbumLi {
    display: none
}

.popupArtistName,
.popupTrackName,
.popupAlbumName,
.popupArtistName {
    font-style: oblique;
}

#artistpopup,
#coverpopup {
    max-width: 90%;
    background: white;
    padding: 5px;
}

#h_artistname {
    margin-bottom: 65px;
    margin-top: 10px;
}

#albumCoverImg,
#coverpopupimage,
#artistpopupimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 90%;
    max-height: 90%;
}


img[src="images/default_cover.png"] {
    filter: invert(1);
}



/* Override to make buttons more visible in popups.*/
#popupTracks .ui-btn-up-c,
#popupQueue .ui-btn-up-c {
    background: var(--p-cl);
}

/* Custom icons for popup listviews - see http://demos.jquerymobile.com/1.3.2/#CustomIcons */
.ui-icon-playAll:after,
.ui-icon-play:after,
.ui-icon-playNext:after,
.ui-icon-insert:after,
.ui-icon-add:after,
.ui-icon-addAll:after,
.ui-icon-remove:after {
    color: #34495e;
    font-family: 'FontAwesome';
}

.ui-icon-playAll:after {
    content: '\f144';
}

.ui-icon-play:after {
    content: '\f01d';
}

.ui-icon-playNext:after {
    content: '\f149';
}

.ui-icon-insert:after {
    content: '\f177';
}

.ui-icon-add:after {
    content: '\f196';
}

.ui-icon-addAll:after {
    content: '\f0fe';
}

.ui-icon-remove:after {
    content: '\f00d';
}

.ui-icon-playAll,
.ui-icon-play,
.ui-icon-playNext,
.ui-icon-add,
.ui-icon-addAll, 
.ui-icon-remove {
    background-color: unset;
    background-image: none;
    font-weight: normal;
}

.popupDialog,
.popupDialog-full-width {
    padding: 10px;
    text-align: center;
}

.popupDialog-full-width {
    padding-left: 0;
    padding-right: 0;
}

/*dont hide clear buttons in text input */
.ui-input-clear-hidden {
    display: block !important;
}

/****************
 *  Common use  *
 ****************/
#playlistspane {
    margin: 0 !important;
}

a {
    text-decoration: none !important;
}

.pull-right {
    float: right;
    margin-top: 6px;
}

.pull-left {
    float: left;
    margin-top: 6px;
}

/**********************
 *  Song information  *
 **********************/
.ui-footer {
    border: 0px;
}

#normalFooter {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: white;
}

#infoname {
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    text-overflow: ellipsis;
}

#infodetail {
    overflow: hidden;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#infocover {
    height: 60px;
    width: 60px;
}

.playicon {
    width: 110px;
    float: left;
    text-align: center;
}

#btplay {
    color: cb8087;
}

.songinfo {
    height: 100%;
    width: 80%;
    float: left;
}

.songinfo-text {
    text-align: left;
    line-height: 23px;
    color: #fbfbfb;
    overflow: hidden;
    padding: 7px;
    margin-left: 65px;
}

#nowPlayingpane {
    text-align: center;
    position: fixed;
    width: 100%;
    height: 80%;
    padding-top: 30px;
}

/*helper*/
.ui-loader h1 {
    color: #121212;
}

    .ui-responsive-panel.ui-page-panel .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
    .ui-responsive-panel.ui-page-panel .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
    .ui-responsive-panel.ui-page-panel .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push,
    .ui-responsive-panel.ui-page-panel .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
        margin-right: 17em;
        width: auto;
    }

/*desktop*/
@media (min-width: 55em) {
    /* panel workaround to make it responsive wrap push on wide viewports once open */
    .ui-responsive-panel.ui-page-panel .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
    .ui-responsive-panel.ui-page-panel .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
    .ui-responsive-panel.ui-page-panel .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push,
    .ui-responsive-panel.ui-page-panel .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
        margin-right: 17em;
        width: auto;
    }

    .ui-responsive-panel.ui-page-panel .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-push.ui-panel-content-fixed-toolbar-position-right,
    .ui-responsive-panel.ui-page-panel .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-reveal.ui-panel-content-fixed-toolbar-position-right,
    .ui-responsive-panel.ui-page-panel .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
    .ui-responsive-panel.ui-page-panel .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
        margin: 0 0 0 17em;
    }
}

/*tablets and desktop*/

@media (min-width: 35em) {
    .ui-responsive-panel .ui-panel-dismiss-display-reveal {
        display: none;
    }

    .popupDialog {
        min-width: 320px;
    }
}

/*smartphones*/
@media (max-width: 35em) {
    #nowPlayingpane {
        padding: 15px 25px 0 25px;
        max-width: 90%;
        max-height: 90%;
    }

    .nowPlaying-artistInfo {
        font-size: 14px;
        margin-top: 10px;
    }

    .nowPlaying-artistInfo h3 {
        margin: 0 0 3px 0;
        white-space: nowrap;
        overflow: hidden;
    }

    #albumCoverImg {
        max-width: 90%;
        max-height: 90%;
        margin-bottom: 3px;
    }

    #nowPlayingpane #slidercontainer {
        margin-left: -5px;
        margin-right: -5px;
        width: 95%;
        left: 4%;
    }

    .nowPlayingControls{
        font-size: 1.3em;
        height: 50px;
        line-height: 48px;
    }
}

/* disable text selection for mouse swipe */
body * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* but fix for text input (safari certainly needs it)*/
input[type=text] {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
    color: #fff;
    background-color: #121212;
}

.songrender {
  position: relative;
  background-color: #212121;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 8px;
}

.songrender img {
  display: inline-block;
}

.songtext {
  display: inline-block;
  margin-left: 18px;
  vertical-align: top;
  margin-top: 5px;
  color: #fbfbfb;
  line-height: 20px;
}
.songtext-nodesc {
  display: inline-block;
  margin-left: 18px;
  vertical-align: top;
  margin-top: 5px;
  color: #fbfbfb;
  line-height: 40px;
  font-size: 14pt;
}
.songname {
  font-size: 14pt;
  color: #fbfbfb;
}


.songtext span {
  display: block;
  font-size: 11px;
  margin-top: 4px;
  color: #bdbdbd !important;
}

.playlistimg {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.playbackcontrolsext {
  float: left;
  margin-right: 30px;
}

.like {
  margin-left: 5px;
}

h4 {
  font-size: 110%;
  margin-right: 10px;
}

.bton {
  color: var(--p-cl);
}

.bton:hover {
  color: var(--p-cl-dark);
}

.btoff {
  color: var(--s-cl-light);
}

.btoff:hover {
  color: var(--s-cl);
}


.songname .fa-heart {
  color: #cb8087;
  margin-left: 10px;
}
